[Desktop Entry]
Name=HyprGUI
Comment=GUI for configuring Hyprland, written in blazingly fast Rust!
Exec=/usr/bin/hyprgui
Icon=preferences-system
Type=Application
Terminal=false
Categories=Utility;
